<!DOCTYPE html>
<html>
<head>
	<meta chrset="UTF 8">
	<link rel="stylesheet" href="css/bootstrap.css"/>
    <!-- The bootstrap.css file is placed in the CSS folder and it used for adding a good look and feel for our website. -->
</head>
<body>
<h1> Guru99 Global Event</h1>
<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
<!-- or -->
<!-- <script src="lib/angular.js"></script> -->
<!-- The angular.js is our main file which was downloaded from the angularJS site and kept in our lib folder. -->
<script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
<!-- This route file is necessary in order to make use of the functionalities of having multiple routes and views. This file can be downloaded from the angularJS website. -->

<script src="lib/app.js"></script>
<!-- The app.js file will contain our code for the controllers -->
<script src="lib/bootstrap.js"></script>
<!-- The bootstrap.js file is used to supplement the bootstrap.cs file to add bootstrap functionality to our web application -->
<script src="lib/jquery-1.11.3.min.js"></script>
<!-- The jquery file will be used to add DOM manipulation functionality to our site. -->

<div ng-app="DemoApp" ng-controller="DemoController">

	Tutorial Name : <input type="text" ng-model="tutorialName "><br>
                                        <!-- model binding -->
    <!-- ng-model is a directive in Angular.JS that represents models and its primary purpose is to bind the “view” to the “model”. -->
    <!-- We are creating a model binding using the ng-model directive. What this does is that it binds the text box for Tutorial Name to be bound to the member variable “tutorialName”. -->
	This tutorial is {{tutorialName}}
    {{fullName1("Guru","99")}}
    <!-- In the view we are calling the behavior(in app.js in DemoController) and passing in 2 values of “Guru” and “99” which gets passed as parameters to the behavior. -->
    <ul><li ng-repeat="i in TopicNames">
		{{i.name}}
		</li></ul>
    <textarea rows="4" cols="50" ng-model="pDescription"></textarea><br><br>
    Name : <input type="text" ng-model="pname"><br>
    <input type="checkbox" ng-model="Topic.Controller">Controller
	<input type="checkbox" ng-model="Topic.Models">Models
    <select ng-model="Topicselect">
		<option>{{Topicselect.option1}}</option>
		<option>{{Topicselect.option2}}</option>
	</select>
</div>
<div ng-app="DemoApp2" >
    <ul><li><a href="#!NewEvent"> Add New Event</a></li>
        <li><a href="#!DisplayEvent"> Display Event</a></li>
    </ul>
    <div ng-view></div>
    </div>
<script>
    var appviews1 = angular.module('DemoApp2',["ngRoute"]);
    console.log('inside demoapp2');
    appviews1.config(function($routeProvider){
            console.log('inside demoapp2.2');
            $routeProvider.
            when("/NewEvent",{
                templateUrl : "add_event.html",
                controller: "AddEventController"
            }).
            when("/DisplayEvent", {
                templateUrl: "show_event.html",
                controller: "ShowDisplayController"
            }).
            otherwise ({
                redirectTo: '/DisplayEvent'
            });
        });
    appviews1.controller("AddEventController", function($scope){
            console.log('AddEventController');
            $scope.message = "This is to Add a new Event";});
    appviews1.controller("ShowDisplayController",function($scope){
        console.log('ShowDisplayController');
        $scope.message = "This is display an Event";});    
</script>
</body>
</html>